<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderPageExtenders>
        <processor type="Sitecore.Mvc.ExperienceEditor.Pipelines.RenderPageExtenders.SpeakRibbon.RenderPageEditorSpeakExtender, Sitecore.Mvc.ExperienceEditor">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Support.Mvc.ExperienceEditor.Pipelines.RenderPageExtenders.SpeakRibbon.RenderPageEditorSpeakExtenderEditMode, Sitecore.Support.49987">
          <patch:add />
        </processor>
        <processor type="Sitecore.Support.Mvc.ExperienceEditor.Pipelines.RenderPageExtenders.SpeakRibbon.RenderPageEditorSpeakExtenderPreviewMode, Sitecore.Support.49987">
          <patch:add />
        </processor>
      </mvc.renderPageExtenders>
    </pipelines>
  </sitecore>
</configuration>